<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>У меня вопрос</title>
</head>
<body>
<h1>Привет проверяющий!</h1>
<div>
    <p>У меня появилось 2 вопроса:</p>
    <p>1) Как правильно передавать QuerySet в json? Я знаю про 2 способа какой лучше? Или есть что-то другое?
        <br>1. serialize (функция из коробки Django)
        <br>2. Собственная функция которая просто создает ассоциативный массив(dict)</p>

    <p>2) Можно ли попросить вас codereview на мой проект на Django?</p>

    <a href="https://t.me/yeezy_na_izi">Мой тг</a>
</div>
</body>
</html>