<a type="button" class="nav-link" data-bs-toggle="modal"
   data-bs-target="#exampleModal">
    Войти
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вход</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="login" method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                        <input type="text" name="username" class="form-control"
                               placeholder="Username" aria-label="Username"
                               aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mt-3">
                        <input
                                type="password"
                                class="form-control"
                                placeholder="Password"
                                name="password"
                        >
                    </div>
                    <div class="input-group flex-nowrap mt-3">
                        <input
                                type="hidden"
                                class="form-control"
                                placeholder="Password"
                                name="from"
                                value="{{ request.path_info }}"
                        >

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Закрыть
                </button>
                <button type="submit" class="btn btn-primary" form="login">
                    Вход
                </button>
            </div>
        </div>
    </div>
</div>