{% extends 'includes/index.html' %}

{% block title %}
    Item {{ id }}
{% endblock %}

{% block content %}
    <section class="container">
        <h2>Товар: {{ item.name }}</h2>
        <div>
            <p>Категория: {{ item.category }}</p>
            <p>Описание: {{ item.text }}</p>
            <p>Теги:</p>
            {% for tag in item.tags.all %}
                <p>
                    {{ tag.name }}
                </p>
            {% endfor %}
        </div>

    </section>
{% endblock %}